@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* colors taken from https://yeun.github.io/open-color/ (MIT license) */
  --oc-gray-0: #f8f9fa;
  --oc-gray-1: #f1f3f5;
  --oc-gray-2: #e9ecef;
  --oc-gray-3: #dee2e6;
  --oc-gray-4: #ced4da;
  --oc-gray-5: #adb5bd;
  --oc-gray-6: #868e96;
  --oc-gray-7: #495057;
  --oc-gray-8: #343a40;
  --oc-gray-9: #212529;

  --oc-teal-0: #e6fcf5;
  --oc-teal-1: #c3fae8;
  --oc-teal-2: #96f2d7;
  --oc-teal-3: #63e6be;
  --oc-teal-4: #38d9a9;
  --oc-teal-5: #20c997;
  --oc-teal-6: #12b886;
  --oc-teal-7: #0ca678;
  --oc-teal-8: #099268;
  --oc-teal-9: #087f5b;
}

h1 {
  font: 400;
  color: var(--oc-teal-8);
}

body {
  background: var(--oc-gray-0);
  font-family: "Roboto", sans-serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}

p {
  color: var(--oc-gray-8);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 25px;
}

.row-item {
  flex: 1;
}

.project-description {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
}

.project-image {
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  background: var(--oc-teal-6);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 32px;
  text-align: center;
  justify-content: center;
  border-radius: 2px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.comments-section {
  margin-right: 200px;
  margin-left: 100px;
}

.hidden {
  display: none;
}

.uploaded-images {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.image {
  height: 100px;
  width: 100px;
}
